html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100.01%;
  font: inherit;
  vertical-align: baseline;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
[hidden] {
  display: none;
}
body {
  width: 100%;
  *zoom: 1;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
body {
  color: #222;
  font: 100.01%/1.375 Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1 {
  font-weight: normal;
  color: #011249;
  margin-bottom: 22px;
  font-family: Cambria, Georgia, Times, 'Times New Roman', serif;
  font-size: 2.375em;
  line-height: 1.1579;
  border-bottom: 1px solid #ccc;
  margin-bottom: 21px;
}
h2 {
  font-weight: normal;
  color: #011249;
  margin-bottom: 22px;
  font-family: Cambria, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.875em;
  line-height: 1.4667;
  margin-bottom: 0;
}
h3 {
  font-weight: normal;
  color: #011249;
  margin-bottom: 22px;
  font-family: Cambria, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.375em;
  line-height: 1;
}
h4 {
  font-weight: normal;
  color: #011249;
  margin-bottom: 22px;
  font-family: Cambria, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.25em;
  line-height: 1.1;
}
h5 {
  font-weight: normal;
  color: #011249;
  margin-bottom: 22px;
  font-family: Cambria, Georgia, Times, 'Times New Roman', serif;
  font-size: 1em;
  font-weight: bold;
}
h6 {
  font-weight: normal;
  color: #011249;
  margin-bottom: 22px;
  font-family: Cambria, Georgia, Times, 'Times New Roman', serif;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 0;
}
h1 img,
h2 img,
h3 img,
h4 img,
h5 img,
h6 img {
  margin: 0;
}
p {
  margin-bottom: 22px;
  font-size: 1em;
  line-height: 1.375;
}
a {
  color: #011249;
  text-decoration: underline;
}
a:focus,
a:hover {
  color: #021e7b;
  text-decoration: none;
}
blockquote {
  margin-left: 1em;
  margin-bottom: 1.375em;
}
strong,
dfn {
  font-weight: bold;
}
em,
dfn {
  font-style: italic;
}
pre {
  margin-bottom: 1.375em;
  white-space: pre;
}
pre,
code,
tt,
.code {
  font: 1em/1.375 "Courier New", Courier, monospace;
}
.smaller-text {
  font-size: 0.75em;
  line-height: 1.8333333;
  margin-bottom: 22px;
}
li ul,
li ol {
  margin: 0;
}
ul,
ol {
  margin: 0.6875em 1.5em 1.375em 0;
  padding-left: 1.5em;
}
ul {
  list-style-type: disc;
}
ol {
  list-style-type: decimal;
}
dl {
  margin: 0 0 1.375em 0;
}
dl dt {
  font-weight: bold;
}
dd {
  margin-left: 1.5em;
}
table {
  margin-bottom: 1.375em;
  width: 100%;
}
caption {
  text-align: left;
  font-style: italic;
}
thead {
  border-bottom: 2px solid #222;
}
th {
  vertical-align: bottom;
  font-weight: bold;
  text-align: left;
}
th,
td {
  padding: 5px 10px 5px 5px;
}
tbody tr {
  border-bottom: 1px solid #eee;
}
tbody tr:hover {
  color: #000;
}
tfoot {
  font-style: italic;
}
input,
textarea {
  font: inherit;
}
input[readonly] {
  color: #666;
}
label {
  font-size: smaller;
}
.validation-failed {
  border: 2px solid red;
}
.validation-message {
  color: red;
  font-size: smaller;
}
.form-action-link {
  font-size: smaller;
}
.content-edit input[type=text] {
  width: 30em;
}
.content-edit textarea {
  width: 30em;
  height: 15em;
}
html {
  background-color: #011249;
}
body {
  margin: 0;
  padding: 0;
  color: #011249;
  background-color: #ccc;
  font: ;
}
#inner-wrap-header {
  max-width: 960px;
  min-width: 360px;
  margin: 0 auto;
  *zoom: 1;
}
#inner-wrap-header:before,
#inner-wrap-header:after {
  content: "";
  display: table;
}
#inner-wrap-header:after {
  clear: both;
}
#header {
  display: inline;
  float: left;
  width: 97.9166666667%;
  margin: 0 1.04166666667%;
  color: #fff;
  height: 100%;
  position: relative;
  padding: 11px 0;
}
#login-menu {
  float: right;
  font-size: 0.75em;
  line-height: 1.8333333;
}
#login-menu img.gravatar {
  vertical-align: middle;
}
#login-menu a {
  text-decoration: none;
}
#login-menu a:hover {
  text-decoration: underline;
  color: #fff;
}
#outer-wrap-navbar {
  margin-bottom: 22px;
  background-color: #011249;
}
#inner-wrap-navbar {
  max-width: 960px;
  min-width: 360px;
  margin: 0 auto;
  *zoom: 1;
}
#inner-wrap-navbar:before,
#inner-wrap-navbar:after {
  content: "";
  display: table;
}
#inner-wrap-navbar:after {
  clear: both;
}
#navbar ul.my-navbar {
  padding: 0;
  margin: 0;
  margin-left: 11px;
}
#navbar ul.my-navbar li {
  list-style-type: none;
  padding: 0;
  margin-right: 2px;
  font-size: 1em;
  line-height: 1.375;
  float: left;
}
#navbar ul.my-navbar li a {
  display: block;
  padding: 11px 11px;
  text-decoration: none;
  color: #fff;
}
#navbar ul.my-navbar li a:hover {
  background: #4b60a4;
}
#navbar ul.my-navbar li a.selected {
  background: #4b60a4;
  color: #fff;
}
#inner-wrap-flash {
  max-width: 960px;
  min-width: 360px;
  margin: 0 auto;
  *zoom: 1;
  height: 66px;
  margin-bottom: 22px;
}
#inner-wrap-flash:before,
#inner-wrap-flash:after {
  content: "";
  display: table;
}
#inner-wrap-flash:after {
  clear: both;
}
#flash {
  display: inline;
  float: left;
  width: 97.9166666667%;
  margin: 0 1.04166666667%;
  height: 100%;
}
#inner-wrap-main {
  max-width: 960px;
  min-width: 360px;
  margin: 0 auto;
  *zoom: 1;
  margin-bottom: 22px;
  min-height: 400px;
}
#inner-wrap-main:before,
#inner-wrap-main:after {
  content: "";
  display: table;
}
#inner-wrap-main:after {
  clear: both;
}
#primary {
  display: inline;
  float: left;
  width: 64.5833333333%;
  margin: 0 1.04166666667%;
}
#sidebar {
  display: inline;
  float: left;
  width: 31.25%;
  margin: 0 1.04166666667%;
}
#outer-wrap-footer {
  background-color: #011249;
}
#inner-wrap-footer {
  max-width: 960px;
  min-width: 360px;
  margin: 0 auto;
  *zoom: 1;
}
#inner-wrap-footer:before,
#inner-wrap-footer:after {
  content: "";
  display: table;
}
#inner-wrap-footer:after {
  clear: both;
}
#footer {
  display: inline;
  float: left;
  width: 97.9166666667%;
  margin: 0 1.04166666667%;
  color: #fff;
  padding: 11px;
}
#footer a {
  color: inherit;
}
#footer a:hover {
  color: #fff;
  text-decoration: none;
}
.cloud {
  border: 1px solid #fff;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 10px 10px 5px #888888;
  margin-bottom: 22px;
  padding: 9px;
  color: #011249;
}
.cloud img {
  vertical-align: middle;
}
a {
  color: inherit;
}
a:hover {
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}
.error,
.alert,
.warning,
.notice,
.success,
.info {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #ddd;
}
.error,
.alert {
  background: #fbe3e4;
  color: #8a1f11;
  border-color: #fbc2c4;
}
.notice,
.warning {
  background: #fff6bf;
  color: #514721;
  border-color: #ffd324;
}
.success {
  background: #e6efc2;
  color: #264409;
  border-color: #c6d880;
}
.info {
  background: #d5edf8;
  color: #205791;
  border-color: #92cae4;
}
.error a,
.alert a {
  color: #8a1f11;
}
.notice a,
.warning a {
  color: #514721;
}
.success a {
  color: #264409;
}
.info a {
  color: #205791;
}
.one-col-indent {
  margin-left: 80px;
}
.silent {
  color: #999;
}
